
/* components/DomainCard.module.css */
.card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .imageContainer {
    position: relative;
    height: 200px; /* Set a fixed height or as needed */
  }
  
  .image {
    width: 100%; /* Make the image take up all container width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
    object-fit: cover; /* Cover the container with the image */
  }
  
  .title {
    font-size: 16px;
    margin: 8px;

  }
  
  .description {
    font-size: 14px;
    margin: 8px;
  }
  


 